{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report</title>
    <link rel=icon href="/static/favicon.svg">
    <link rel=stylesheet type=text/css href="/static/style.css">
</head>

<body>
    <p>
        Users:
    <ul>
        {% for user in users %}
        <li><a href="/report/{{user}}/">{{user}}</a></li>
        {% endfor %}
    </ul>
    </p>
</body>

</html>